*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  html{
    height: 100vh;
    width: 100vw;
  }
body{
  height: auto;
  width: 100%;
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;

}
main > button{
  margin: auto;
  
}
h2{
  text-align: center;
}
h3{
  text-align: center;
  margin: auto;
  margin: 10px 0 10px 0;
}

ol {
  padding: 0;
  position: relative;
}
li {
  position: static
}
img{
  margin: 0;
  text-align: center;
  height: 300px;
  width: 300px;

}
.move{
  padding: 5px 0 5px 0;
}
.moveset-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing:content-box;
  height: 35vh;
  width: 30vw;
  overflow: hidden auto;
  text-align: center;
  justify-content: center;
  border: 5px dashed black ;
  padding: 10px;
 
}
.pokemon-name-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

.icons{
  height: auto;
  width: 75px;
}
