*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  html{
    height: 100vh;
    width: 100vw;
  }
  
main {
  display: flex;
  align-items: center;
  justify-content: center;

}
main > button{
  margin: auto;
  
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}

ul {
  list-style-type: none; 
  padding: 0;
  margin: 10px;
}

img{
  margin: 0;
  text-align: center;

}
.move{
  padding: 5px 0 5px 0;
}
.moveset-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:fit-content;
  box-sizing: border-box;
  height: 25vh;
  width: auto;
  overflow: hidden auto;
  text-align: center;
 
}
.pokemon-name-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icons{
  height: auto;
  width: 75px;
}
